<main class="container mt-3 col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between bd-highlight mb-3 flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Create a new PC </h1>

  </div>

<!-- droup down List -->
<form [formGroup]="form"  class="p-4" id="pcForm" name="pcForm">
  <div class="card border-dark mb-3" style="max-width: 24rem;">
    <div class="card-header">Basic PC Details</div>
    <div class="card-body text-dark">
      <div class="input-group mb-4">
        <label class="input-group-text" for="inputGroupSelect01">Project category:</label>
        <select class="form-select " id="project_name"  formControlName="project_name">
          <option selected></option>
          <option  *ngFor = "let p of projects" [ngValue]="p.project_name">{{p.project_name}}</option>

        </select>
      </div>

      <div class="input-group mb-4">
        <label class="input-group-text" for="inputGroupSelect01">Installation Status:</label>
        <select class="form-select  " id="status_name" formControlName="status_name">
          <option selected></option>
          <option *ngFor = "let s of statusList" [ngValue]="s.status_name">{{s.status_name}}</option>

        </select>
      </div>

      <div class="input-group mb-4">
        <label class="input-group-text" for="inputGroupSelect01">PC's Hostname:</label>
        <input type="text" class="form-control" id="hostname"  formControlName="pc_hostname" >
      </div>

      <div class="input-group mb-4">
        <label class="input-group-text" for="inputGroupSelect01">PC's FixAsset:</label>
        <input type="text" class="form-control" id="fixAsset" formControlName="fixasset" >
      </div>


      <!-- check Box -->
      <div class="row gx-3 gy-2 align-items-center">
        <div class="col-auto">
          <div class="form-check">

            <label class="form-check-label" for="autoSizingCheck2">
                PC's Type:
            </label>
          </div>
        </div>

        <div class="col-auto">

          <select class="form-select" id="is_aio" formControlName="is_aio" >
            <option *ngFor="let aio_pc of aio_and_pc" [ngValue]="aio_pc">{{ aio_pc }}</option>

          </select>

        </div>

    </div>
  </div>
  </div>

  <!-- Hardware Details -->
  <div class="card border-dark mb-3 p-4 " style="max-width: 45rem;">
    <div class="min-vh-50">

    <h4 class="mb-3">Hardware Details</h4>

      <div class="row g-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">Serial Number</label>
          <input type="text" class="form-control" id="serial_no" name="serial_no"  formControlName="serial_no" >
          <div class="invalid-feedback">

          </div>
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">Dongle ID</label>
          <input type="text" class="form-control" formControlName="dongle_Id" >
          <div class="invalid-feedback">

          </div>
        </div>



        <div class="col-md-5">
          <label for="cpu" class="form-label">CPU</label>
          <select class="form-select"  formControlName="cpu" >
            <option *ngFor= "let cp of cpu" [ngValue]="cp.serial_no">{{cp.brand_name}}/{{cp.item_details}}/{{cp.serial_no}}</option>

          </select>

        </div>

        <div class="col-md-4">
          <label for="mainboard" class="form-label">Motherboard</label>
          <select class="form-select" id="mainboard" name="mainboard" formControlName="mainboard">
            <option *ngFor= "let main of mainboard" [ngValue]="main.serial_no">{{main.brand_name}} / {{main.item_details}} /{{main.serial_no}}</option>

          </select>

        </div>

        <div class="col-md-3">
          <label for="power" class="form-label">Power Supply</label>
          <select class="form-select" id="power"  name="power" formControlName="power" >
            <option *ngFor= "let p of power" [ngValue]="p.serial_no">{{p.brand_name}} / {{p.item_details}} / {{p.serial_no}}</option>

          </select>

        </div>

        <div class="col-md-5">
          <label for="ramSolt" class="form-label">RAM Slot</label>
          <select class="form-select" id="ramSolt"  name="ramSolt" formControlName="ram_solt">
            <option *ngFor="let s of ramSolt" [ngValue]="s">{{ s }}</option>

          </select>

        </div>

        <div class="col-md-4">
          <label for="ram" class="form-label">RAM</label>
          <select class="form-select" id="ram"  name="ram" formControlName="ram" >
            <option *ngFor= "let r of ram" [ngValue]="r.serial_no">{{r.brand_name}}/ {{r.item_details}}/{{r.serial_no}}</option>

          </select>

        </div>

        <div class="col-md-3 ">
          <label for="storage" class="form-label">Storage</label>
          <select class="form-select" id="storage"  name="storage" formControlName="storage" >
            <option *ngFor= "let ssd of storage" [ngValue]="ssd.serial_no">{{ssd.brand_name}}/{{ssd.item_details}}/{{ssd.serial_no}}</option>


          </select>

        </div>

        <div class="col-md-5">
          <label for="pcsize" class="form-label">Pc Size</label>
          <select class="form-select" id="pcsize"  name="pcsize" formControlName="pc_size" >
            <option *ngFor="let size of pcsize" [ngValue]="size">{{ size }}</option>

          </select>

        </div>

        <div class="col-md-4">
          <label for="iocard" class="form-label">IO Card</label>
          <select class="form-select" id="iocard"  name="iocard" formControlName="io_card"  >
            <option *ngFor="let io of iocard" [ngValue]="io">{{ io }}</option>

          </select>

        </div>

        <div class="col-md-3">
          <label for="lanCard" class="form-label">LAN Card</label>
          <select class="form-select" id="lan_card"  name="lan_card" formControlName="lan_card">
          " >
            <option *ngFor="let lan of lanCard" [ngValue]="lan">{{ lan }}</option>

          </select>

        </div>


        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Addition details</label>
          <textarea class="form-control" id="details"   name="details" formControlName="pc_details" rows="3"></textarea>
        </div>
      <div>
        <button type="submit" [disabled]="form.invalid" (click)="submitForm()"class="btn btn-primary">Create PC</button>
      </div>

      </div>

   <p>Form value: {{ form.value | json }}</p>
