<main class="container mt-3 col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between bd-highlight mb-3 flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New Item </h1>

  </div>



   <form [formGroup]="form"  class="p-4" id="itemForm" name="itemForm">

    <div class="mb-4 ">
      <label for="exampleInputEmail1" class="form-label">Project_name</label>

      <select class="form-select form-select-sm" formControlName="project_name" (change)="changeProject()">
        <option selected>Project Name</option>
        <option  *ngFor = "let p of projectlist" value="{{p.project_id}}" formControlName="project_name">{{p.project_name}}</option>

      </select>
    </div>

      <div class="mb-4 ">
        <label for="exampleInputEmail1" class="form-label">Seriald Number</label>
        <input type="text" formControlName="serial_numbar" class="form-control"   aria-describedby="emailHelp">

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Hardware Brand</label>
        <input type="text" formControlName="brand_name" class="form-control"  >

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Hardware Type</label>
        <input type="text" formControlName="type_name" class="form-control"  >
      </div>


      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Hardware FixAsset</label>
        <input type="text" formControlName="fixasset" class="form-control" >
      </div>


      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Addition details/Model</label>
        <textarea class="form-control" formControlName="item_details"   rows="3"></textarea>
      </div>

      <button type="submit" [disabled]="form.invalid" (click)="submitForm()" class="btn btn-primary">Create Item</button>



    <p>Form value: {{ form.value | json }}</p>

    </div>




