
 <body class="text-center">

  <main class="form-signin">
  <form [formGroup]="form" id="brandForm" name="brandForm">

    <img src="assets/image/LogoAnalog.png" style="width: 150px; height: 50px;"><br>
    <br>
    <h1 class="h3 mb-3 fw-normal">New Brand</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="brand_name" formControlName="brand_name">
      <label for="floatingInput">Brand Name</label>
    </div>
    <br>

    <div class="form-floating">
      <input type="Text" class="form-control" id="remarks"  formControlName="remarks" rows="3">
      <label for="floatingPassword">Remark</label>
    </div>

    <div class="checkbox mb-3">

    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit"  (click)="onAdd()">create</button>

  </form>
  <p>Form value: {{ form.value | json }}</p>

</main>


</body>
